* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import './vars.scss';

@font-face {
	font-family: 'gt-regular';
	src: url('../css/fonts/GTWalsheimPro-Regular.ttf');
}
@font-face {
	font-family: 'gt-medium';
	src: url('../css/fonts/GTWalsheimPro-Medium.ttf');
}
@font-face {
	font-family: 'gt-bold';
	src: url('../css/fonts/GTWalsheimPro-Bold.ttf');
}

body {
	font-family: 'gt-regular';
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000;
}

input {
	&.focus {
		outline: unset;
	}
}

button {
	cursor: pointer;
}

.container {
	max-width: 1293px;
	margin: 0 auto;
	width: 100%;
}

.title {
	font-size: 30px;
	margin-bottom: 10px;
	font-family: 'gt-bold';
	color: $blue;
}

.more {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 17px 29px 13px 29px;
	background-color: $blue;
	color: #fff;
	font-size: 15px;
	border-radius: 8px;
	font-family: 'gt-medium';
	gap: 13px;
	width: 216px;
	margin: 0 auto;
	&:hover {
		background-color: $darkorange;
	}
}

@import './classes.scss';
