* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page-enter-active,
.page-leave-active {
	transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
	opacity: 0;
	filter: blur(1rem);
}

@import './vars.scss';

@font-face {
	font-family: 'gt-regular';
	src: url('../css/fonts/GTWalsheimPro-Regular.ttf');
}
@font-face {
	font-family: 'gt-medium';
	src: url('../css/fonts/GTWalsheimPro-Medium.ttf');
}
@font-face {
	font-family: 'gt-bold';
	src: url('../css/fonts/GTWalsheimPro-Bold.ttf');
}

body {
	font-family: 'gt-regular';
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000;
}

input {
	&.focus {
		outline: unset;
	}
}

button {
	cursor: pointer;
}

.container {
	max-width: 1293px;
	margin: 0 auto;
	width: 100%;
}

.title {
	font-size: 30px;
	margin-bottom: 10px;
	font-family: 'gt-bold';
	color: $blue;
	font-weight: 700;
}

.more {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 17px 29px 13px 29px;
	background-color: $blue;
	color: #fff;
	font-size: 15px;
	border-radius: 8px;
	font-family: 'gt-medium';
	gap: 13px;
	width: 216px;
	margin: 0 auto;
	border: none;
	&.green {
		background-color: $green;
	}
	&:hover {
		background-color: $darkorange;
	}
}
.red {
	background-color: #e8543e26;
	color: #e8543e;
}

.ratings {
	display: flex;
	align-items: center;
	gap: 10px;
	.average {
		font-family: 'gt-medium';
		color: $darkorange;
	}
	.all {
		font-size: 13px;
		color: $violet;
	}
	.stars {
		display: flex;
		align-items: center;
		gap: 5px;
	}
}

.gap-10 {
	gap: 10px;
}

.page__head {
	&.small {
		max-width: 700px;
		width: 100%;
		margin: 0 auto;
	}
	padding: 90px 0 100px;
	.title {
		font-size: 40px;
	}
	p {
		color: $violet;
		font-size: 17px;
		line-height: 36px; /* 211.765% */
	}
}

.social {
	display: flex;
	gap: 72px;
	align-items: center;
	&__title {
		color: $blue;
		font-family: 'gt-medium';
		font-size: 17px;
		font-weight: 500;
		line-height: 26px;
	}
	&__links {
		display: flex;
		gap: 24px;
		a {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				opacity: 0.1;
				background-color: $darkviolet;
				img {
					filter: brightness(0) invert(1);
				}
			}
		}
	}
}

.badge {
	z-index: 2;
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 9px 17px 7px 17px;
	border-radius: 60px;
	&.top {
		background: $green;
	}
	&.new {
		background: $red;
	}
}

@import './classes.scss';
@import './form.scss';
@import './media.scss';
