@media (max-width: 1366px) {
	header {
		padding: 14px 20px;
		.links {
			gap: 30px;
		}
	}
	.welcome__body img {
		max-width: 60%;
	}
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 1024px) {
	header {
		padding: 14px 20px;
		.links {
			&.active {
				max-width: 40%;
				padding-left: 50px;
			}
			transition: linear 0.5s;
			position: fixed;
			display: flex;
			flex-direction: column;
			left: 0;
			top: 93px;
			background-color: #ffffff;
			box-shadow: 7px 10px 12px 1px rgb(0 0 0 / 9%);
			gap: 20px;
			padding: 50px 0;
			max-width: 0;
			overflow: hidden;
			width: 30%;
			height: calc(100% - 93px);
			// padding-left: 50px;
		}
		.menu {
			display: flex;
			width: 40px;
			span {
				height: 2px;
				width: 30px;
				background-color: black;
				position: relative;
				&::before,
				&::after {
					content: '';
					display: block;
					width: 10px;
					height: 2px;
					background-color: black;
					position: absolute;
					top: -10px;
				}
				&::after {
					width: 20px;
					top: 10px;
				}
			}
		}
	}
	// html {
	// 	font-size: 14px;
	// }
}
