@import '../vars.scss';
.contact {
	&__head {
		height: 510px;
		background-image: url('~/public/img/aloqa.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 212px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.3);
		}
		.container {
			position: relative;
			h1 {
				color: #fff;
				font-family: 'gt-bold';
				font-size: 40px;
				font-weight: 700;
			}
			p {
				color: #fff;
				font-size: 17px;
				line-height: 36px;
				text-transform: capitalize;
			}
		}
	}
	&__info {
		padding: 157px 0 216px 0;
		.row {
			h3 {
				color: $blue;
				font-family: 'gt-medium';
				font-size: 20px;
				font-weight: 500;
				margin-bottom: 20px;
			}
			h4,
			a {
				color: $violet;
				font-size: 15px;
				font-weight: 400;
				line-height: 26px;
			}
		}
	}
	&__form {
		border-radius: 8px;
		border: 1px solid #ededed;
		background: #fff;
		box-shadow: 0px 20px 30px 0px hsla(240, 30%, 14%, 0.13);
		padding: 40px;
		position: absolute;
		right: 0;
		top: 0;
	}
	&__title {
		color: $blue;
		font-family: 'gt-medium';
		font-size: 24px;
		font-weight: 500;
	}
	&__text {
		color: $violet;
		font-size: 15px;
		max-width: 410px;
		padding: 26px 0 30px 0;
		line-height: 26px; /* 173.333% */
	}
	label {
		display: flex;
		flex-direction: column;
		gap: 10px;
		font-size: 16px;
		color: $blue;
		font-family: 'gt-medium';
		font-weight: 500;
	}
	input,
	textarea {
		color: $violet;
		font-size: 15px;
		padding: 15px 22px;
		line-height: 26px; /* 173.333% */
		border-radius: 8px;
		border: 1px solid #ddd;
		background: #fff;
		outline: none;
	}
	.more {
		margin-left: 0;
		padding: 21px 55px;
	}
}

@media (max-width: 1024px) {
	.contact {
		&__head {
			height: auto;
			padding: 150px 0;
		}
		&__form {
			right: 15px;
		}
		&__info {
			padding: 100px 0 150px 0;
		}
	}
}

@media (max-width: 768px) {
	.contact {
		&__form {
			position: relative;
			right: unset;
		}
		&__head {
			height: auto;
			padding: 50px 0;
		}
	}
}
