@import '../vars.scss';
.promo {
	margin-bottom: 22px;
	&__body {
		display: flex;
		align-items: center;
		// gap: 154px;
	}
	&__img {
		width: 60%;
		img {
			width: 100%;
		}
	}
	&__content {
		width: 40%;
		.promo__title {
			color: $blue;
			font-family: 'gt-bold';
			font-size: 45px;
			font-weight: 700;
			span {
				color: $green;
			}
		}
		.promo__text {
			color: $blue;
			font-size: 15px;
			line-height: 26px;
			margin: 20px 0 56px 0;
		}
	}
	.btns {
		display: flex;
		align-items: center;
		gap: 20px;
		// a {
		// 	display: block;
		// }
		.card {
			// width: 210px;
			border-radius: 8px;
			background: #1a064f;

			display: flex;
			align-items: center;
			gap: 22px;
			padding: 14px 23px;
			color: #fff;
			cursor: pointer;
			&:hover {
				background-color: $darkorange;
			}
		}
		.store {
			display: block;
			font-family: 'gt-medium';
			font-weight: 500;
		}
		.download {
			font-size: 14px;
		}
	}
}

@media (max-width: 768px) {
	.promo {
		&__body {
			align-items: center;
			flex-direction: column-reverse;
			justify-content: center;
		}
		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			// justify-content: center;
			width: 100%;
			margin-bottom: 30px;
			// margin: 0 auto;
		}
	}
}
