@import '../vars.scss';
.welcome {
	height: calc(100vh - 96px);
	display: flex;
	flex-direction: column;
	&__body {
		position: relative;
		flex: 1;
		display: flex;
		align-items: center;
		h1 {
			color: $blue;
			font-size: 55px;
			font-weight: 700;
			line-height: 80px;
			text-transform: capitalize;
			max-width: 50%;
			font-family: 'gt-bold';
			span {
				color: $green;
				border-bottom: 3px solid $green;
			}
		}
		p {
			color: $blue;
			font-size: 17px;
			line-height: 36px;
			max-width: 40%;
			margin-top: 13px;
			margin-bottom: 27px;
		}

		img {
			position: absolute;
			right: 0;
			bottom: 0;
			// width: 100%;
			max-height: 100%;
		}
		.btn {
			display: flex;
			align-items: center;
			padding: 21px 55px;
			&.rounded,
			&.bordered {
				border-radius: 100px;
				font-family: 'gt-medium';
			}
			&.rounded {
				color: #fff;
				background-color: $green;
				&:hover {
					background-color: darken($green, 20%);
				}
			}
			&.bordered {
				border: 2px solid $darkviolet;
				color: $darkviolet;
				&:hover {
					background-color: $darkviolet;
					color: #fff;
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.welcome {
		height: auto;
		padding-top: 50px;
		&__body {
			padding-bottom: 50px;
			h1 {
				font-size: 42px;
			}
			p {
				max-width: 60%;
			}
			.btn {
				padding: 15px 35px;
			}
		}
		.container {
			position: relative;
			z-index: 1;
		}
	}
}

@media (max-width: 768px) {
	.welcome {
		&__body {
			h1,
			p {
				max-width: 100%;
			}
			img {
				display: none;
			}
		}
	}
}
