@import '../vars.scss';
.courses {
	padding-bottom: 120px;
	&__catalog {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 30px;
	}
	&__number {
		font-size: 14px;
		color: $violet;
		span {
			font-family: 'gt-medium';
			color: $blue;
			font-weight: 500;
		}
	}
	&__sort {
		display: flex;
		align-items: center;
		gap: 16px;
		span {
			font-family: 'gt-medium';
			color: $blue;
			font-weight: 500;
			font-size: 14px;
		}
		select {
			padding: 17px 15px;
			border-radius: 8px;
		}
	}
	.row {
		row-gap: 30px;
		margin-bottom: 90px;
	}
	&__filter {
		.filter {
			margin-bottom: 30px;
			border-bottom: 1px solid #ddd;
			&__item {
				input {
					display: none;
					&:checked {
						& + label {
							&.checkbox {
								&:before {
									background-color: $darkviolet;
									border-color: $darkviolet;
									background-image: url('~/public/img/check-small.svg');
									background-position: center center;
									background-repeat: no-repeat;
								}
							}
							&.radio {
								&:before {
									// background-color: $darkviolet;
									border-color: $darkviolet;
								}
								&:after {
									content: '';
									display: inline-block;
									position: absolute;
									width: 7px;
									height: 7px;
									border-radius: 50%;
									background-color: $darkviolet;
									left: 5px;
									// right: 0;
									top: 0;
									bottom: 0;
									margin: auto;
								}
							}
						}
					}
				}
				label {
					display: flex;
					align-items: center;
					width: 100%;
					position: relative;
					cursor: pointer;
					&.checkbox {
						&:before {
							content: '';
							display: inline-block;
							margin-right: 10px;
							width: 15px;
							height: 15px;
							border: 2px solid #6a7a99;
						}
					}
					&.radio {
						&:before {
							content: '';
							display: inline-block;
							margin-right: 10px;
							width: 15px;
							height: 15px;
							border-radius: 50%;
							border: 2px solid #6a7a99;
						}
					}

					.value {
						color: $darkviolet;
						font-size: 14px;
						line-height: 30px;
					}
					.count {
						color: $violet;
						font-size: 14px;
						line-height: 30px;
						margin-left: auto;
					}
				}
			}
			&__body {
				transition: linear 0.4s;
				overflow: hidden;
				max-height: 0px;

				display: flex;
				flex-direction: column;
				gap: 15px;
			}
			&.open {
				padding-bottom: 30px;
				.filter {
					&__body {
						max-height: 1000px;
					}
					&__title::after {
						transform: rotate(180deg);
					}
				}
			}
			&__title {
				cursor: pointer;
				font-family: 'gt-medium';
				font-size: 20px;
				color: $blue;
				font-weight: 500;
				margin-bottom: 30px;
				position: relative;
				&::after {
					content: '';
					display: inline-block;
					transition: linear 0.4s;
					width: 10px;
					height: 11.915px;
					background-image: url('~/public/img/up.svg');
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
				}
			}
		}
	}
}
