@import '../vars.scss';
.courses {
	.kurs__info {
		.badge {
			position: static;
			top: 0;
			left: 0;
		}
	}
	.kurs {
		background-image: url('~/public/img/course-bg.png');
		// background-size: cover;
		// background-repeat: no-repeat;
		// background-position: center;
		height: 480px;
		max-width: 1500px;
		margin: 0 auto;
		position: relative;
		padding-top: 90px;
		margin-top: 90px;
		color: #fff;
		&__others {
			padding-top: 130px;
		}
		h3 {
			font-family: 'gt-bold';
			font-size: 30px;
			font-weight: 700;
			line-height: 45px;
		}
		p {
			font-size: 15px;
			line-height: 26px; /* 173.333% */
		}
		&__info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 20px;
			align-items: flex-start;
		}
		&__stat {
			display: flex;
			align-items: center;
			gap: 14px;
			.all {
				color: #fff;
			}
			.stat {
				display: flex;
				gap: 10px;
				align-items: center;
			}
		}
		&__user {
			display: flex;
			align-items: center;
			gap: 10px;
			img {
				width: 30px;
				height: 30px;
				border-radius: 50%;
			}
		}
		.container {
			position: relative;
		}
		&__right {
			position: absolute;
			top: 0;
			right: 0;
			max-width: 360px;
			width: 100%;
			border-radius: 8px;
			border: 1px solid #ededed;
			background: #fff;
			box-shadow: 0px 20px 30px 0px rgba(25, 25, 46, 0.04);
			.video {
				img {
					width: 100%;
				}
				padding: 10px;
				position: relative;
			}
			.video-center {
				position: absolute;
				top: 12%;
				left: 43%;
				// transform: translateY(-50%);
				width: 60px;
				height: 60px;
				border-radius: 50%;
				background-color: #fff;
				border-width: 7px;
				border-color: rgba(255, 255, 255, 0.3);
				box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		&__data {
			padding: 30px 30px 20px;
		}
		&__price {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__newprice {
			color: $blue;
			font-family: 'gt-medium';
			font-size: 24px;
			font-weight: 500;
		}
		&__oldprice {
			color: $violet;
			font-family: 'gt-medium';
			font-size: 15px;
			font-weight: 500;
			text-decoration: line-through;
		}
		.more {
			width: 100%;
		}
		ul {
			padding: 37px 0 50px 0;
			li {
				display: flex;
				border-bottom: 1px solid #ededed;

				img {
					margin-right: 10px;
				}
				p {
					color: $blue;
					font-size: 15px;
					line-height: 40px;
				}
				span {
					margin-left: auto;
					color: $violet;
					text-align: right;
					font-size: 15px;
					line-height: 40px;
				}
			}
		}
		.social__links {
			justify-content: center;
		}
	}
	.kurs__body {
		padding: 30px 0 0 0;
		.row {
			margin-bottom: 0;
		}
		.kurs {
			&__tabs {
				display: flex;
				align-items: center;
				gap: 35px;
				border-bottom: 1px solid #ededed;
			}
			&__tab {
				cursor: pointer;
				color: $violet;
				font-size: 15px;
				font-family: 'gt-medium';
				font-weight: 500;
				line-height: 26px;
				position: relative;
				padding-bottom: 15px;
				&.active {
					color: $green;
					&::after {
						content: '';
						width: 100%;
						height: 1px;
						position: absolute;
						left: 0;
						bottom: 0;
						background-color: $green;
					}
				}
			}
			&__about {
				padding: 60px 0 0;
				h2 {
					color: $blue;
					font-family: 'gt-medium';
					font-size: 20px;
					font-weight: 500;
					margin-bottom: 30px;
				}
				p {
					font-size: 15px;
					line-height: 26px;
					color: $violet;
					margin-bottom: 30px;
				}
				.check {
					display: grid;
					row-gap: 25px;
					grid-template-columns: 1fr 1fr;
					li {
						font-size: 15px;
						line-height: 26px;
						color: $violet;
						display: flex;
						align-items: center;
						gap: 10px;
						&::before {
							content: '';
							background-image: url('~/public/img/check-item.svg');
							// position: ;
							width: 20px;
							height: 20px;
							border-radius: 50%;
							display: inline-block;
						}
					}
				}
				.radio {
					display: flex;
					flex-direction: column;
					gap: 20px;
					li {
						font-size: 15px;
						line-height: 26px;
						color: $violet;
						display: flex;
						align-items: center;
						gap: 10px;
						&::before {
							content: '';
							width: 7px;
							height: 7px;
							border-radius: 50%;
							background-color: #6a7a99;
							display: inline-block;
						}
					}
				}
			}
			&__content {
				.head {
					&__title {
						color: $blue;
						font-family: 'gt-medium';
						font-size: 20px;
						font-weight: 500;
						padding-top: 60px;
					}
					&__length {
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding: 30px 0 10px 0;
						span {
							color: $violet;
							font-size: 15px;
							line-height: 26px;
							&.open {
								color: $green;
								text-decoration-line: underline;
							}
						}
					}
				}
				.collapse {
					margin-bottom: 10px;
					cursor: pointer;
					border-radius: 8px;
					border: 1px solid #ededed;
					background: #fff;
					&__head {
						border-radius: 8px 8px 0px 0px;
						border: 1px solid #ededed;
						background: #f7f8fb;
						padding: 23px 30px 19px 30px;
						div {
							display: flex;
							align-items: center;
							gap: 10px;
						}
						img {
							transform: rotate(180deg);
							transition: linear 0.5s;
						}

						display: flex;
						align-items: center;
						justify-content: space-between;
					}
					&.open {
						.collapse {
							&__body {
								// padding-top: 30px;
								max-height: 1000px;
							}
							&__head {
								img {
									transform: rotate(0);
								}
							}
						}
					}
					&__body {
						// padding: 0 30px;
						max-height: 0;
						overflow: hidden;
						transition: 0.5s linear;
						ul {
							display: flex;
							flex-direction: column;
							gap: 20px;
							padding: 30px;
							li {
								display: flex;
								justify-content: space-between;
								align-items: center;
								font-size: 15px;
								line-height: 25px;
								color: $violet;
								a {
									font-size: 15px;
									line-height: 25px;
									color: $violet;
									text-decoration: underline;
									&.green {
										color: $green;
									}
									&.black {
										color: #1a064f;
									}
									&.time {
										color: $violet;
									}
								}
								.icon {
									display: flex;
									gap: 10px;
									align-items: center;
									&:hover {
										text-decoration: underline;
									}
								}
								span {
									display: flex;
									align-items: center;
									gap: 20px;
								}
							}
						}
					}
				}
			}
			&__mentor {
				padding: 60px 0 0 0;
				h3 {
					color: $blue;
					font-family: 'gt-medium';
					font-size: 20px;
					font-weight: 500;
					margin-bottom: 25px;
				}
				p {
					font-size: 15px;
					color: $violet;
					line-height: 26px;
				}
				.mentor {
					&__photo {
						img {
							width: 120px;
							height: 120px;
							border-radius: 50%;
						}
					}
					&__info {
						display: flex;
						align-items: center;
						gap: 20px;
						margin-bottom: 30px;
						h4 {
							color: $blue;
							font-family: 'gt-medium';
							font-size: 17px;
							font-weight: 500;
							line-height: 26px;
							text-transform: capitalize;
						}
						h5 {
							color: $violet;
							font-size: 15px;
							line-height: 26px;
							padding: 10px 0;
						}
					}
					&__stat {
						display: flex;
						gap: 22px;
						align-items: center;
						.item {
							display: flex;
							align-items: center;
							gap: 10px;
						}
						span {
							font-size: 13px;
							color: $violet;
						}
						.rate {
							color: #e59819;
							font-size: 14px;
						}
					}
				}
			}
			&__comment {
				padding-top: 60px;
				h3 {
					color: $blue;
					font-family: 'gt-medium';
					font-size: 20px;
					font-weight: 500;
					margin-bottom: 30px;
				}
				.comment {
					&__all {
						display: flex;
						align-items: stretch;
						gap: 10px;
						margin-bottom: 60px;
					}
					&__left {
						width: 35%;
						border-radius: 8px;
						background: #f5f7fe;

						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						span {
							color: $blue;
							font-size: 60px;
						}
						.stars {
							display: flex;
							align-items: center;
							gap: 10px;
							padding: 10px 0;
						}
						p {
							line-height: 26px;
							font-size: 15px;
							color: $violet;
						}
					}
					&__right {
						display: flex;
						flex-direction: column;
						gap: 15px;
						padding: 30px;
						width: 63%;
						border-radius: 8px;
						background: #f5f7fe;
						.progress {
							flex: 1;
							height: 5px;
							position: relative;
							border-radius: 4px;
							background: #cce0f8;
							span {
								position: absolute;
								top: 0;
								height: 100%;
								left: 0;
								border-radius: 4px;
								background: $green;
							}
						}
						.stars {
							display: flex;
							align-items: center;
							gap: 10px;
							margin-left: 14px;
						}
						.item {
							display: flex;
							align-items: center;
							.percent {
								color: $blue;
								font-size: 15px;
								line-height: 40px;
								margin-left: 17px;
							}
						}
					}
				}
				.review__container {
					display: flex;
					flex-direction: column;
					gap: 40px;
				}
				.review {
					display: flex;
					gap: 20px;
					align-items: flex-start;
					padding-bottom: 38px;
					border-bottom: 1px solid #ededed;
					&__user {
						width: 80px;
						height: 60px;
						border-radius: 50%;
						background-color: $blue;
						color: #fff;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 17px;
						line-height: 26px;
						text-transform: capitalize;
					}
					&__head {
						display: flex;
						align-items: center;
						gap: 15px;
						h5 {
							color: $blue;
							font-family: 'gt-medium';
							font-size: 17px;
							font-weight: 500;
							line-height: 26px;
							text-transform: capitalize;
						}
						.date {
							color: $violet;
							font-size: 13px;
							font-weight: 400;
						}
					}
					.stars {
						display: flex;
						align-items: center;
						gap: 5px;
						padding: 10px 0 15px 0;
					}
					&__title {
						font-size: 15px;
						font-family: 'gt-medium';
						font-weight: 500;
						color: $blue;
						margin-bottom: 10px;
					}
					&__text {
						color: $violet;
						font-size: 15px;
						line-height: 26px;
					}
				}
				.more_comment {
					width: 100%;
					text-align: center;
					margin: 65px 0 100px;
					button {
						color: $green;
						font-family: 'gt-medium';
						font-size: 15px;
						font-weight: 500;
						text-decoration-line: underline;
						background: none;
						border: none;
						margin: 0 auto;
					}
				}
			}
			&__form {
				.more {
					margin: 0;
				}
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 30px;
				align-items: flex-start;
				.item {
					width: 100%;
					p {
						color: $blue;
						font-family: 'gt-medium';
						font-weight: 500;
						margin-bottom: 10px;
					}
					.stars {
						display: flex;
						gap: 6px;
						img {
							filter: grayscale(1);
							&:hover {
								filter: none;
							}
							&.active {
								filter: none;
							}
						}
					}
				}
				input,
				textarea {
					width: 100%;
					font-size: 15px;
					padding: 15px 0 14px 22px;
					line-height: 26px;
					border-radius: 8px;
					border: 1px solid #ddd;
					background: #fff;
				}
			}
		}
	}
}

@media (max-width: 1366px) {
	.kurs {
		margin: auto 20px;
	}
}

.courses {
	.kurs {
		padding-top: 20px;
		margin-top: 0;
		padding: 20px;
		&__right {
			width: 33%;
		}
		&__price {
			flex-direction: column;
			align-items: flex-start;
		}
		&__data {
			padding: 20px;
		}
		ul {
			padding: 30px 0 40px 0;
		}
		&__body {
			.kurs__content {
				.collapse__body ul li {
					flex-direction: column;
					align-items: flex-start;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.courses {
		.kurs {
			height: auto;
			&__right {
				width: 100%;
				position: relative;
			}
		}
	}
}
